
<pages-css id="pages-css"><style id="css_masterPage">
	#WRchTxt0{visibility:hidden}#DrpDwnMn0{visibility:hidden}
	:root{--color_0:255,255,255;--color_1:255,255,255;--color_2:0,0,0;--color_3:255,203,5;--color_4:237,28,36;--color_5:0,136,203;--color_6:114,114,114;--color_7:176,176,176;--color_8:255,255,255;--color_9:114,114,114;--color_10:176,176,176;--color_11:255,255,255;--color_12:237,237,236;--color_13:205,205,201;--color_14:164,164,164;--color_15:0,0,0;--color_16:178,224,222;--color_17:114,193,191;--color_18:85,145,143;--color_19:57,96,95;--color_20:28,48,47;--color_21:194,157,235;--color_22:158,108,216;--color_23:92,0,196;--color_24:61,0,131;--color_25:31,0,65;--color_26:156,211,235;--color_27:107,182,214;--color_28:0,136,194;--color_29:0,90,129;--color_30:0,45,65;--color_31:246,229,226;--color_32:255,207,200;--color_33:255,133,112;--color_34:187,101,89;--color_35:63,33,28;--font_0:normal normal normal 26px/1.4em 'Open Sans',sans-serif;--font_1:normal normal normal 11px/1.4em 'open sans',sans-serif;--font_2:normal normal normal 36px/1.4em avenir-lt-w01_35-light1475496,sans-serif;--font_3:normal normal normal 60px/1.4em 'Open Sans',sans-serif;--font_4:normal normal normal 40px/1.4em 'Open Sans',sans-serif;--font_5:normal normal normal 20px/1.4em avenir-lt-w01_35-light1475496,sans-serif;--font_6:normal normal normal 18px/1.4em 'open sans',sans-serif;--font_7:normal normal normal 17px/1.4em avenir-lt-w01_35-light1475496,sans-serif;--font_8:normal normal normal 13px/1.4em 'Open Sans',sans-serif;--font_9:normal normal normal 11px/1.4em 'Open Sans',sans-serif;--font_10:normal normal normal 10px/1.4em 'Open Sans',sans-serif;--site-width:980px;--above-all-z-index:100000;--minViewportSize:320;--maxViewportSize:1920}.font_0{font:var(--font_0);color:rgb(var(--color_15))}.font_1{font:var(--font_1);color:rgb(var(--color_15))}.font_2{font:var(--font_2);color:rgb(var(--color_15))}.font_3{font:var(--font_3);color:rgb(var(--color_14))}.font_4{font:var(--font_4);color:rgb(var(--color_14))}.font_5{font:var(--font_5);color:rgb(var(--color_15))}.font_6{font:var(--font_6);color:rgb(var(--color_14))}.font_7{font:var(--font_7);color:rgb(var(--color_15))}.font_8{font:var(--font_8);color:rgb(var(--color_15))}.font_9{font:var(--font_9);color:rgb(var(--color_15))}.font_10{font:var(--font_10);color:rgb(var(--color_15))}.color_0{color:rgb(var(--color_0))}.color_1{color:rgb(var(--color_1))}.color_2{color:rgb(var(--color_2))}.color_3{color:rgb(var(--color_3))}.color_4{color:rgb(var(--color_4))}.color_5{color:rgb(var(--color_5))}.color_6{color:rgb(var(--color_6))}.color_7{color:rgb(var(--color_7))}.color_8{color:rgb(var(--color_8))}.color_9{color:rgb(var(--color_9))}.color_10{color:rgb(var(--color_10))}.color_11{color:rgb(var(--color_11))}.color_12{color:rgb(var(--color_12))}.color_13{color:rgb(var(--color_13))}.color_14{color:rgb(var(--color_14))}.color_15{color:rgb(var(--color_15))}.color_16{color:rgb(var(--color_16))}.color_17{color:rgb(var(--color_17))}.color_18{color:rgb(var(--color_18))}.color_19{color:rgb(var(--color_19))}.color_20{color:rgb(var(--color_20))}.color_21{color:rgb(var(--color_21))}.color_22{color:rgb(var(--color_22))}.color_23{color:rgb(var(--color_23))}.color_24{color:rgb(var(--color_24))}.color_25{color:rgb(var(--color_25))}.color_26{color:rgb(var(--color_26))}.color_27{color:rgb(var(--color_27))}.color_28{color:rgb(var(--color_28))}.color_29{color:rgb(var(--color_29))}.color_30{color:rgb(var(--color_30))}.color_31{color:rgb(var(--color_31))}.color_32{color:rgb(var(--color_32))}.color_33{color:rgb(var(--color_33))}.color_34{color:rgb(var(--color_34))}.color_35{color:rgb(var(--color_35))}.backcolor_0{background-color:rgb(var(--color_0))}.backcolor_1{background-color:rgb(var(--color_1))}.backcolor_2{background-color:rgb(var(--color_2))}.backcolor_3{background-color:rgb(var(--color_3))}.backcolor_4{background-color:rgb(var(--color_4))}.backcolor_5{background-color:rgb(var(--color_5))}.backcolor_6{background-color:rgb(var(--color_6))}.backcolor_7{background-color:rgb(var(--color_7))}.backcolor_8{background-color:rgb(var(--color_8))}.backcolor_9{background-color:rgb(var(--color_9))}.backcolor_10{background-color:rgb(var(--color_10))}.backcolor_11{background-color:rgb(var(--color_11))}.backcolor_12{background-color:rgb(var(--color_12))}.backcolor_13{background-color:rgb(var(--color_13))}.backcolor_14{background-color:rgb(var(--color_14))}.backcolor_15{background-color:rgb(var(--color_15))}.backcolor_16{background-color:rgb(var(--color_16))}.backcolor_17{background-color:rgb(var(--color_17))}.backcolor_18{background-color:rgb(var(--color_18))}.backcolor_19{background-color:rgb(var(--color_19))}.backcolor_20{background-color:rgb(var(--color_20))}.backcolor_21{background-color:rgb(var(--color_21))}.backcolor_22{background-color:rgb(var(--color_22))}.backcolor_23{background-color:rgb(var(--color_23))}.backcolor_24{background-color:rgb(var(--color_24))}.backcolor_25{background-color:rgb(var(--color_25))}.backcolor_26{background-color:rgb(var(--color_26))}.backcolor_27{background-color:rgb(var(--color_27))}.backcolor_28{background-color:rgb(var(--color_28))}.backcolor_29{background-color:rgb(var(--color_29))}.backcolor_30{background-color:rgb(var(--color_30))}.backcolor_31{background-color:rgb(var(--color_31))}.backcolor_32{background-color:rgb(var(--color_32))}.backcolor_33{background-color:rgb(var(--color_33))}.backcolor_34{background-color:rgb(var(--color_34))}.backcolor_35{background-color:rgb(var(--color_35))}#SITE_CONTAINER.focus-ring-active :not(.has-custom-focus):not(.ignore-focus):focus, #SITE_CONTAINER.focus-ring-active :not(.has-custom-focus):not(.ignore-focus):focus ~ .wixSdkShowFocusOnSibling{box-shadow:0 0 0 1px #ffffff, 0 0 0 3px #116dff !important;z-index:999}[data-mesh-id=SITE_HEADERinlineContent]{height:auto;width:100%}[data-mesh-id=SITE_HEADERinlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;min-height:auto;grid-template-rows:min-content min-content min-content 1fr;grid-template-columns:100%}[data-mesh-id=SITE_HEADERinlineContent-gridContainer] > [id="WPht0-wra"]{position:relative;margin:31px 0px -25px calc((100% - 980px) * 0.5);left:-66px;grid-area:1 / 1 / 4 / 2;justify-self:start;align-self:start}[data-mesh-id=SITE_HEADERinlineContent-gridContainer] > [id="WRchTxt0"]{position:relative;margin:59px 0px -5px calc((100% - 980px) * 0.5);left:54px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start}[data-mesh-id=SITE_HEADERinlineContent-gridContainer] > [id="comp-kg0fh6sy"]{position:relative;margin:0px 0px -5px calc((100% - 980px) * 0.5);left:54px;grid-area:2 / 1 / 3 / 2;justify-self:start;align-self:start}[data-mesh-id=SITE_HEADERinlineContent-gridContainer] > [id="DrpDwnMn0"]{position:relative;margin:3px 0px 23px calc((100% - 980px) * 0.5);left:390px;grid-area:4 / 1 / 5 / 2;justify-self:start;align-self:start}[data-mesh-id=SITE_HEADERinlineContent-gridContainer] > [id="comp-kfzl6w4o"]{position:relative;margin:0px 0px 20px calc((100% - 980px) * 0.5);left:849px;grid-area:4 / 1 / 5 / 2;justify-self:start;align-self:start}[data-mesh-id=SITE_HEADERinlineContent-gridContainer] > [id="comp-kg11wcuf"]{position:relative;margin:89px 0px 0 calc((100% - 980px) * 0.5);left:54px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start}[data-mesh-id=SITE_FOOTERinlineContent]{height:auto;width:100%;position:static;min-height:186px}[data-mesh-id=SOSP_CONTAINER_CUSTOM_IDinlineContent]{height:auto;width:980px;display:flex}[data-mesh-id=SOSP_CONTAINER_CUSTOM_IDinlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;min-height:auto;margin-top:-42px;grid-template-rows:min-content 1fr;grid-template-columns:100%}[data-mesh-id=SOSP_CONTAINER_CUSTOM_IDinlineContent-gridContainer] > [id="comp-kfzl7tki"]{position:relative;margin:0px 0px 0 0;left:0px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start}[data-mesh-id=SOSP_CONTAINER_CUSTOM_IDinlineContent-gridContainer] > [id="comp-kg0vs8tr"]{position:relative;margin:0px 0px 0px 0;left:0px;grid-area:2 / 1 / 3 / 2;justify-self:start;align-self:start}{height:auto;width:100%;position:static;min-height:NaNpx}[id="soapAfterPagesContainer"].page-without-sosp [data-mesh-id=soapAfterPagesContainerinlineContent]{height:auto;width:100%;position:static;min-height:auto;padding-bottom:0px;box-sizing:border-box}[id="soapAfterPagesContainer"].page-without-sosp [data-mesh-id=soapAfterPagesContainerinlineContent-gridContainer] > [id="CONTROLLER_COMP_CUSTOM_ID"]{position:absolute;top:-160px;left:24px}[id="soapAfterPagesContainer"].page-with-sosp [data-mesh-id=soapAfterPagesContainerinlineContent]{height:auto;width:100%}[id="soapAfterPagesContainer"].page-with-sosp [data-mesh-id=soapAfterPagesContainerinlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;min-height:auto;grid-template-rows:1fr;grid-template-columns:100%;padding-bottom:0px;box-sizing:border-box}[id="soapAfterPagesContainer"].page-with-sosp [data-mesh-id=soapAfterPagesContainerinlineContent-gridContainer] > [id="CONTROLLER_COMP_CUSTOM_ID"]{position:absolute;top:-160px;left:24px}[id="soapAfterPagesContainer"].page-with-sosp [data-mesh-id=soapAfterPagesContainerinlineContent-gridContainer] > [id="SOSP_CONTAINER_CUSTOM_ID"]{position:relative;margin:44px 0px 0 calc((100% - 980px) * 0.5);left:0px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start}#masterPage{left:0;margin-left:0;width:100%;min-width:980px}#SITE_HEADER{--bg:var(--color_29);--shd:0.00px 0.00px 31px 0px rgba(0, 0, 0, 0.7);--brwt:0px;--brd:var(--color_16);--brwb:0px;--bgctr:var(--color_29);--rd:0px 0px 0px 0px;--alpha-bg:1;--alpha-brd:1;--alpha-bgctr:1;left:0;margin-left:0;width:100%;min-width:980px;--shc-mutated-brightness:0,45,65;position:fixed !important;z-index:50;top:0;--above-all-in-container:10000}#SITE_FOOTER{left:0;margin-left:0;width:100%;min-width:980px;--pinned-layer-in-container:51;--above-all-in-container:49}#PAGES_CONTAINER{left:0;margin-left:0;width:100%;min-width:980px;--pinned-layer-in-container:52;--above-all-in-container:49}#SOSP_CONTAINER_CUSTOM_ID{--brw:0px;--brd:var(--color_15);--bg:var(--color_11);--rd:0px;--shd:none;--alpha-bg:1;--alpha-brd:1;--boxShadowToggleOn-shd:none;width:980px;--shc-mutated-brightness:128,128,128;--pinned-layer-in-container:54;--above-all-in-container:49}#WPht0-wra{--contentPaddingLeft:0px;--contentPaddingRight:0px;--contentPaddingTop:0px;--contentPaddingBottom:0px;width:111px;height:108px;--height:108px;--width:111px}#WRchTxt0{--f0:var(--font_0);--f1:var(--font_1);--f10:var(--font_10);--f2:var(--font_2);--f3:var(--font_3);--f4:var(--font_4);--f5:var(--font_5);--f6:var(--font_6);--f7:var(--font_7);--f8:var(--font_8);--f9:var(--font_9);width:263px;height:auto;min-height:40px}#comp-kg0fh6sy{--f0:var(--font_0);--f1:var(--font_1);--f10:var(--font_10);--f2:var(--font_2);--f3:var(--font_3);--f4:var(--font_4);--f5:var(--font_5);--f6:var(--font_6);--f7:var(--font_7);--f8:var(--font_8);--f9:var(--font_9);width:227px;height:auto}#DrpDwnMn0{--menuTotalBordersX:0px;--menuTotalBordersY:0px;--shd:none;--rdDrop:0px;--brw:1px;--brd:56,56,56;--bgDrop:255,255,255;--pad:10px;--trans2:color 0.4s ease 0s;--fnt:normal normal normal 15px/1.4em avenir-lt-w01_35-light1475496,sans-serif;--txt:56,56,56;--trans:background-color 0.4s ease 0s;--rd:80px;--bg:255,255,255;--trans3:border-color 0.4s ease 0s;--noshd:none;--nord:0px;--txth:0,0,0;--bgh:255,222,95;--brdh:0,0,0;--txts:0,0,0;--bgs:255,222,95;--brds:0,0,0;--childrenSpacing:10px;--menuButtonBorders:1px;--alpha-bg:1;--alpha-bgDrop:1;--alpha-bgh:1;--alpha-bgs:1;--alpha-brd:1;--alpha-brdh:0;--alpha-brds:0;--alpha-txt:1;--alpha-txth:1;--alpha-txts:1;--boxShadowToggleOn-shd:none;width:463px;height:35px}#comp-kfzl6w4o{--bg:0,0,0,0;--brw:0px;--brd:var(--color_15);--rd:0px;--shd:none;--bg-dd:var(--color_11);--brw-dd:2px;--brd-dd:var(--color_15);--rd-dd:0px;--shd-dd:0.00px 1.00px 4px 0px rgba(0,0,0,0.6);--fnt:var(--font_8);--fnt-size-dd:15px;--txt-dd:var(--color_15);--alpha-txt-dd:1;--txt-slct-dd:var(--color_14);--alpha-txt-slct-dd:1;--txth-dd:var(--color_20);--alpha-txth-dd:1;--txth:var(--color_11);--alpha-txth:1;--txt:var(--color_11);--alpha-txt:1;--badge-bg:226,28,33;--alpha-badge-bg:1;--badge-txt:var(--color_11);--alpha-badge-txt:1;--fillcolor:var(--color_11);--alpha-fillcolor:1;--alpha-bg:0;--alpha-brd:1;--alpha-brd-dd:0.17;--boxShadowToggleOn-shd:none;--alpha-bg-dd:1;width:252px;height:41px;justify-content:flex-end;direction:ltr;--icon-size:26px}#comp-kg11wcuf{--lnw:4px;--brd:var(--color_11);--alpha-brd:1;width:263px;height:5px;transform-origin:center 2px}#SITE_PAGES{left:0;margin-left:0;width:100%;min-width:980px}#comp-kfzl7tki{width:980px;height:250px}#comp-kg0vs8tr{--menuTotalBordersX:0px;--menuTotalBordersY:0px;--bgDrop:var(--color_11);--rd:0px;--shd:0px 1px 4px 0px rgba(0,0,0,0.2);--pad:10px;--fnt:var(--font_8);--brd:var(--color_15);--txt:var(--color_15);--alpha-txt:1;--brdh:var(--color_17);--txth:var(--color_17);--alpha-txth:1;--brds:var(--color_18);--txts:var(--color_18);--alpha-txts:1;--alpha-bgDrop:1;--alpha-brdh:1;--alpha-brd:0;--alpha-brds:1;--bg:var(--color_11);--alpha-bg:1;width:980px;height:40px}#SITE_HEADER-placeholder{height:175px}#CONTROLLER_COMP_CUSTOM_ID{--alpha-bg:1;--alpha -bgh:1;--alpha - brd:1;--alpha - brdh:1;--alpha - txt:1;--alpha - txth:1;--bg:61,155,233;--bgh:43,104,156;--alpha-bgh:1;--boxShadowToggleOn -shd:none;--brd:43,104,156;--alpha-brd:1;--brdh:61,155,233;--alpha-brdh:1;--brw:0px;--fnt:normal normal normal 14px/1.4em raleway;--rd:20px;--shd:0 1px 4px rgba(0, 0, 0, 0.6);;--txt:255,255,255;--alpha-txt:1;--txth:255,255,255;--alpha-txth:1;--pinned-layer-in-container:53;--above-all-in-container:49}#masterPage.landingPage #SITE_HEADER{display:none}#masterPage.landingPage #SITE_FOOTER{display:none}#masterPage.landingPage #CONTROLLER_COMP_CUSTOM_ID{display:none}#masterPage.landingPage #SOSP_CONTAINER_CUSTOM_ID{display:none}#masterPage.landingPage #SITE_HEADER-placeholder{display:none}#masterPage.landingPage #SITE_FOOTER-placeholder{display:none}#masterPage:not(.landingPage) #PAGES_CONTAINER{margin-top:0px;margin-bottom:0px}
	@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-regular-webfont.eot');
    src: url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-regular-webfont.woff') format('woff'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-regular-webfont.ttf') format('truetype'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-regular-webfont.svg#open_sansregular') format('svg');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bold-webfont.eot');
    src: url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bold-webfont.woff') format('woff'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bold-webfont.ttf') format('truetype'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bold-webfont.svg#open_sansregular') format('svg');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-italic-webfont.eot');
    src: url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-italic-webfont.woff') format('woff'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-italic-webfont.ttf') format('truetype'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-italic-webfont.svg#open_sansregular') format('svg');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bolditalic-webfont.eot');
    src: url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bolditalic-webfont.woff') format('woff'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bolditalic-webfont.ttf') format('truetype'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bolditalic-webfont.svg#open_sansregular') format('svg');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-regular-webfont.eot');
    src: url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-regular-webfont.woff') format('woff'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-regular-webfont.ttf') format('truetype'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-regular-webfont.svg#open_sansregular') format('svg');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bold-webfont.eot');
    src: url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bold-webfont.woff') format('woff'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bold-webfont.ttf') format('truetype'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bold-webfont.svg#open_sansregular') format('svg');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-italic-webfont.eot');
    src: url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-italic-webfont.woff') format('woff'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-italic-webfont.ttf') format('truetype'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-italic-webfont.svg#open_sansregular') format('svg');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bolditalic-webfont.eot');
    src: url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bolditalic-webfont.woff') format('woff'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bolditalic-webfont.ttf') format('truetype'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bolditalic-webfont.svg#open_sansregular') format('svg');
}
@font-face{
    font-family:"Avenir-LT-W01_35-Light1475496";
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix");
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/908c4810-64db-4b46-bb8e-823eb41f68c0.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/4577388c-510f-4366-addb-8b663bcc762a.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/b0268c31-e450-4159-bfea-e0d20e2b5c0c.svg#b0268c31-e450-4159-bfea-e0d20e2b5c0c") format("svg");
}
@font-face {
font-family: wf_62de10e8ce8346e0b6225cd6f;
src: url("https://static.wixstatic.com/ufonts/b227d6_62de10e8ce8346e0b6225cd6f147ffe9/woff2/file.woff2") format("woff2"),
url("https://static.wixstatic.com/ufonts/b227d6_62de10e8ce8346e0b6225cd6f147ffe9/woff/file.woff") format("woff"),
url("https://static.wixstatic.com/ufonts/b227d6_62de10e8ce8346e0b6225cd6f147ffe9/ttf/file.ttf") format("ttf");
}
@font-face {
font-family: wf_3ce47fc5cce84ae8a5ab377d0;
src: url("https://static.wixstatic.com/ufonts/b227d6_3ce47fc5cce84ae8a5ab377d02561b33/woff2/file.woff2") format("woff2"),
url("https://static.wixstatic.com/ufonts/b227d6_3ce47fc5cce84ae8a5ab377d02561b33/woff/file.woff") format("woff"),
url("https://static.wixstatic.com/ufonts/b227d6_3ce47fc5cce84ae8a5ab377d02561b33/ttf/file.ttf") format("ttf");
}

/* stylable css */
/* */
</style>
<style id="css_yofx7">
	[data-mesh-id=comp-kg0ztzfjinlineContent]{height:auto;width:100%;position:static;min-height:352px}[data-mesh-id=comp-kg0ztzeeinlineContent]{height:auto;width:100%}[data-mesh-id=comp-kg0ztzeeinlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;min-height:auto;grid-template-rows:min-content min-content 1fr;grid-template-columns:100%}[data-mesh-id=comp-kg0ztzeeinlineContent-gridContainer] > [id="comp-kg0ztzen"]{position:relative;margin:36px 0px 0 calc((100% - 393px) * 0.5);left:0px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-kg0ztzeeinlineContent-gridContainer] > [id="comp-kg0ztzev"]{position:relative;margin:0px 0px 31px calc((100% - 393px) * 0.5);left:60px;grid-area:2 / 1 / 3 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-kg0ztzeeinlineContent-gridContainer] > [id="comp-kg11axdu"]{position:relative;margin:0px 0px 66px calc((100% - 393px) * 0.5);left:53px;grid-area:3 / 1 / 4 / 2;justify-self:start;align-self:start}[data-mesh-id=Containeryofx7inlineContent]{height:auto;width:100%}[data-mesh-id=Containeryofx7inlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;min-height:614px;grid-template-rows:min-content min-content min-content 1fr;grid-template-columns:100%;padding-bottom:0px;box-sizing:border-box}[data-mesh-id=Containeryofx7inlineContent-gridContainer] > [id="comp-kg0ztzcj"]{position:relative;margin:0px 0px -1px calc((100% - 980px) * 0.5);left:0px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start}[data-mesh-id=Containeryofx7inlineContent-gridContainer] > [id="comp-kg11l68s"]{position:relative;margin:0px 0px -6px calc((100% - 980px) * 0.5);left:-141px;grid-area:2 / 1 / 3 / 2;justify-self:start;align-self:start}[data-mesh-id=Containeryofx7inlineContent-gridContainer] > [id="TPASection_ja9g2via"]{position:relative;margin:0px 0px 0 calc((100% - 980px) * 0.5);left:0px;grid-area:4 / 1 / 5 / 2;justify-self:start;align-self:start}[data-mesh-id=Containeryofx7inlineContent-gridContainer] > [id="comp-kg11rh7z"]{position:relative;margin:0px 0px -2px calc((100% - 980px) * 0.5);left:-150px;grid-area:3 / 1 / 4 / 2;justify-self:start;align-self:start}#yofx7{left:0;margin-left:0;width:100%;min-width:980px;min-height:614px}#comp-kg0ztzcj{left:0;margin-left:0;width:100%;min-width:980px;--bg-overlay-color:transparent;--padding:0px;--margin:0px}#comp-kg11l68s{--lnw:15px;--brd:var(--color_30);--alpha-brd:1;width:1281px;height:15px;transform-origin:center 7.5px}#TPASection_ja9g2via{--alpha-param_color_blog-linkHashtagColor:1;--alpha-param_color_button-color:1;--alpha-param_color_button-textColor:1;--alpha-param_color_navigation-backgroundColor:0;--alpha-param_color_navigation-textColor:1;--alpha-param_color_navigation-textColorActive:1;--alpha-param_color_post-appBackgroundColor:0;--alpha-param_color_post-cardBackgroundColor:1;--alpha-param_color_post-cardBorderColor:1;--alpha-param_color_post-category-TOI-backgroundColor:1;--alpha-param_color_post-category-backgroundColor:1;--alpha-param_color_post-category-borderColor:1;--alpha-param_color_post-category-descriptionColor:1;--alpha-param_color_post-category-linkHashtagColor:1;--alpha-param_color_post-category-titleColor:1;--alpha-param_color_post-homepage-TOI-backgroundColor:1;--alpha-param_color_post-homepage-TOI-descriptionColor:1;--alpha-param_color_post-homepage-TOI-titleColor:1;--alpha-param_color_post-homepage-backgroundColor:1;--alpha-param_color_post-homepage-borderColor:1;--alpha-param_color_post-homepage-descriptionColor:1;--alpha-param_color_post-homepage-linkHashtagColor:1;--alpha-param_color_post-homepage-overlayColor:0.35;--alpha-param_color_post-homepage-titleColor:1;--alpha-param_color_post-textColor:1;--alpha-param_color_widget-notificationBubbleColor:1;--alpha-param_color_widget-notificationBubbleTextColor:1;--param_boolean_blog-isFeedDesignPropsMigrated:true;--param_boolean_blog-isPostListFullWidthEnabled:true;--param_boolean_header-showOnCategoryPage:false;--param_boolean_header-showOnHomePage:false;--param_boolean_widget-isLoginButtonEnabled:false;--param_color_blog-linkHashtagColor:var(--color_17);--param_color_button-color:rgb(114, 193, 191);--param_color_button-textColor:var(--color_15);--param_color_navigation-backgroundColor:var(--color_11);--param_color_navigation-textColor:var(--color_14);--param_color_navigation-textColorActive:rgb(114, 193, 191);--param_color_post-appBackgroundColor:var(--color_15);--param_color_post-cardBackgroundColor:var(--color_11);--param_color_post-cardBorderColor:var(--color_13);--param_color_post-category-TOI-backgroundColor:rgb(255, 255, 255);--param_color_post-category-backgroundColor:rgb(255, 255, 255);--param_color_post-category-borderColor:rgb(205, 205, 201);--param_color_post-category-descriptionColor:rgb(0, 0, 0);--param_color_post-category-linkHashtagColor:rgb(114, 193, 191);--param_color_post-category-titleColor:rgb(0, 0, 0);--param_color_post-homepage-TOI-backgroundColor:rgb(255, 255, 255);--param_color_post-homepage-TOI-descriptionColor:var(--color_11);--param_color_post-homepage-TOI-titleColor:var(--color_11);--param_color_post-homepage-backgroundColor:rgb(255, 255, 255);--param_color_post-homepage-borderColor:rgb(205, 205, 201);--param_color_post-homepage-descriptionColor:rgb(0, 0, 0);--param_color_post-homepage-linkHashtagColor:rgb(114, 193, 191);--param_color_post-homepage-overlayColor:rgba(0,0,0,0.35);--param_color_post-homepage-titleColor:rgb(0, 0, 0);--param_color_post-textColor:var(--color_15);--param_color_widget-notificationBubbleColor:var(--color_17);--param_color_widget-notificationBubbleTextColor:var(--color_15);--param_font_header-categoryDescriptionFont:undefined;--param_font_header-categoryTitleFont:undefined;--param_font_header-homepageDescriptionFont:undefined;--param_font_header-homepageTitleFont:undefined;--param_font_navigation-font:undefined;--param_font_post-category-descriptionFont:font:normal normal normal 13px/1.4em "open sans",sans-serif;;--param_font_post-category-titleFont:font:normal normal normal 36px/1.4em avenir-lt-w01_35-light1475496,sans-serif;;--param_font_post-descriptionFont:undefined;--param_font_post-full-category-descriptionFont:font:normal normal normal 13px/1.4em "open sans",sans-serif;;--param_font_post-full-category-titleFont:font:normal normal normal 36px/1.4em avenir-lt-w01_35-light1475496,sans-serif;;--param_font_post-full-homepage-descriptionFont:font:normal normal normal 13px/1.4em "open sans",sans-serif;;--param_font_post-full-homepage-titleFont:font:normal normal normal 36px/1.4em avenir-lt-w01_35-light1475496,sans-serif;;--param_font_post-grid-category-descriptionFont:font:normal normal normal 13px/1.4em "open sans",sans-serif;;--param_font_post-grid-category-titleFont:font:normal normal normal 36px/1.4em avenir-lt-w01_35-light1475496,sans-serif;;--param_font_post-grid-homepage-descriptionFont:font:normal normal normal 13px/1.4em "open sans",sans-serif;;--param_font_post-grid-homepage-titleFont:font:normal normal normal 36px/1.4em avenir-lt-w01_35-light1475496,sans-serif;;--param_font_post-homepage-descriptionFont:font:normal normal normal 16px/20px "open sans",sans-serif;;--param_font_post-homepage-titleFont:font:normal normal normal 22px/27px avenir-lt-w01_35-light1475496,sans-serif;;--param_font_post-large-category-descriptionFont:font:normal normal normal 13px/1.4em "open sans",sans-serif;;--param_font_post-large-category-titleFont:font:normal normal normal 36px/1.4em avenir-lt-w01_35-light1475496,sans-serif;;--param_font_post-large-homepage-descriptionFont:font:normal normal normal 13px/1.4em "open sans",sans-serif;;--param_font_post-large-homepage-titleFont:font:normal normal normal 36px/1.4em avenir-lt-w01_35-light1475496,sans-serif;;--param_font_post-medium-category-descriptionFont:font:normal normal normal 13px/1.4em "open sans",sans-serif;;--param_font_post-medium-category-titleFont:font:normal normal normal 36px/1.4em avenir-lt-w01_35-light1475496,sans-serif;;--param_font_post-medium-homepage-descriptionFont:font:normal normal normal 13px/1.4em "open sans",sans-serif;;--param_font_post-medium-homepage-titleFont:font:normal normal normal 36px/1.4em avenir-lt-w01_35-light1475496,sans-serif;;--param_font_post-side-by-side-category-descriptionFont:font:normal normal normal 13px/1.4em "open sans",sans-serif;;--param_font_post-side-by-side-category-titleFont:font:normal normal normal 36px/1.4em avenir-lt-w01_35-light1475496,sans-serif;;--param_font_post-side-by-side-homepage-descriptionFont:font:normal normal normal 13px/1.4em "open sans",sans-serif;;--param_font_post-side-by-side-homepage-titleFont:font:normal normal normal 36px/1.4em avenir-lt-w01_35-light1475496,sans-serif;;--param_font_post-small-category-descriptionFont:font:normal normal normal 13px/1.4em "open sans",sans-serif;;--param_font_post-small-category-titleFont:font:normal normal normal 36px/1.4em avenir-lt-w01_35-light1475496,sans-serif;;--param_font_post-small-homepage-descriptionFont:font:normal normal normal 13px/1.4em "open sans",sans-serif;;--param_font_post-small-homepage-titleFont:font:normal normal normal 36px/1.4em avenir-lt-w01_35-light1475496,sans-serif;;--param_font_post-text-on-image-medium-category-descriptionFont:font:normal normal normal 13px/1.4em "open sans",sans-serif;;--param_font_post-text-on-image-medium-category-titleFont:font:normal normal normal 36px/1.4em avenir-lt-w01_35-light1475496,sans-serif;;--param_font_post-text-on-image-medium-homepage-descriptionFont:font:normal normal normal 13px/1.4em "open sans",sans-serif;;--param_font_post-text-on-image-medium-homepage-titleFont:font:normal normal normal 36px/1.4em avenir-lt-w01_35-light1475496,sans-serif;;--param_font_post-text-on-image-mobile-category-descriptionFont:font:normal normal normal 13px/1.4em "open sans",sans-serif;;--param_font_post-text-on-image-mobile-category-titleFont:font:normal normal normal 36px/1.4em avenir-lt-w01_35-light1475496,sans-serif;;--param_font_post-text-on-image-mobile-homepage-descriptionFont:font:normal normal normal 13px/1.4em "open sans",sans-serif;;--param_font_post-text-on-image-mobile-homepage-titleFont:font:normal normal normal 36px/1.4em avenir-lt-w01_35-light1475496,sans-serif;;--param_font_post-text-on-image-small-category-descriptionFont:font:normal normal normal 13px/1.4em "open sans",sans-serif;;--param_font_post-text-on-image-small-category-titleFont:font:normal normal normal 36px/1.4em avenir-lt-w01_35-light1475496,sans-serif;;--param_font_post-text-on-image-small-homepage-descriptionFont:font:normal normal normal 13px/1.4em "open sans",sans-serif;;--param_font_post-text-on-image-small-homepage-titleFont:font:normal normal normal 36px/1.4em avenir-lt-w01_35-light1475496,sans-serif;;--param_font_post-titleFont:undefined;--param_number_layout-homepage-layoutType:16;--param_number_pagination-homepage-pageSize:3;--param_number_post-category-borderWidth:1;--param_number_post-homepage-borderWidth:1;--param_number_post-small-homepage-descriptionFontSize:13;--param_number_layout-homepage-pg-medium-contentHeight:300;--param_number_layout-homepage-pg-medium-layoutPostSize:292;--param_number_layout-category-layoutType:15;--param_font_post-pg-text-on-image-medium-homepage-titleFont:undefined;--param_font_post-pg-text-on-image-medium-homepage-descriptionFont:undefined;--param_font_post-pg-medium-homepage-titleFont:undefined;--param_font_post-pg-medium-homepage-descriptionFont:undefined;--param_font_post-pg-side-by-side-homepage-titleFont:undefined;--param_font_post-pg-side-by-side-homepage-descriptionFont:undefined;--param_font_post-pg-grid-homepage-titleFont:undefined;--param_font_post-pg-grid-homepage-descriptionFont:undefined;--param_font_post-pg-one-column-homepage-titleFont:undefined;--param_font_post-pg-one-column-homepage-descriptionFont:undefined;--param_boolean_blog-isCommentCountEnabled:false;--param_boolean_socialSharing-isEnabled:false;--param_boolean_blogMenu-isEnabled:true;--param_number_layout-homepage-pg-text-on-image-medium-imageRatio:2;--param_number_layout-homepage-pg-grid-imageRatio:1;--param_number_layout-homepage-pg-side-by-side-imageCropType:1;width:980px;height:620px}#comp-kg11rh7z{--lnw:15px;--brd:var(--color_30);--alpha-brd:1;width:1281px;height:15px;transform-origin:center 7.5px}#comp-kg0ztzfj{width:100%;--bg-overlay-color:transparent;--fill-layer-image-opacity:1;--column-width:587px;--column-flex:587}#comp-kg0ztzee{width:100%;--bg-overlay-color:rgb(var(--color_29));--column-width:393px;--column-flex:393}#comp-kg0ztzen{--f0:var(--font_0);--f1:var(--font_1);--f10:var(--font_10);--f2:var(--font_2);--f3:var(--font_3);--f4:var(--font_4);--f5:var(--font_5);--f6:var(--font_6);--f7:var(--font_7);--f8:var(--font_8);--f9:var(--font_9);width:393px;height:auto}#comp-kg0ztzev{--f0:var(--font_0);--f1:var(--font_1);--f10:var(--font_10);--f2:var(--font_2);--f3:var(--font_3);--f4:var(--font_4);--f5:var(--font_5);--f6:var(--font_6);--f7:var(--font_7);--f8:var(--font_8);--f9:var(--font_9);width:288px;height:auto}#comp-kg11axdu{--f0:var(--font_0);--f1:var(--font_1);--f10:var(--font_10);--f2:var(--font_2);--f3:var(--font_3);--f4:var(--font_4);--f5:var(--font_5);--f6:var(--font_6);--f7:var(--font_7);--f8:var(--font_8);--f9:var(--font_9);width:301px;height:auto;min-height:137px}#pageBackground_yofx7{--bg-position:fixed;visibility:hidden;--bg-overlay-color:rgb(var(--color_13));--fill-layer-image-opacity:1}
	@font-face {
font-family: wf_62de10e8ce8346e0b6225cd6f;
src: url("https://static.wixstatic.com/ufonts/b227d6_62de10e8ce8346e0b6225cd6f147ffe9/woff2/file.woff2") format("woff2"),
url("https://static.wixstatic.com/ufonts/b227d6_62de10e8ce8346e0b6225cd6f147ffe9/woff/file.woff") format("woff"),
url("https://static.wixstatic.com/ufonts/b227d6_62de10e8ce8346e0b6225cd6f147ffe9/ttf/file.ttf") format("ttf");
}
@font-face {
font-family: wf_3ce47fc5cce84ae8a5ab377d0;
src: url("https://static.wixstatic.com/ufonts/b227d6_3ce47fc5cce84ae8a5ab377d02561b33/woff2/file.woff2") format("woff2"),
url("https://static.wixstatic.com/ufonts/b227d6_3ce47fc5cce84ae8a5ab377d02561b33/woff/file.woff") format("woff"),
url("https://static.wixstatic.com/ufonts/b227d6_3ce47fc5cce84ae8a5ab377d02561b33/ttf/file.ttf") format("ttf");
}
@font-face {
font-display: block;
font-family: 'Raleway';
font-style: italic;
font-weight: 400;
src: local('Raleway Italic'), local('Raleway-Italic'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptsg8zYS_SKggPNyCg4Q4FqL_KWxWMT.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
font-display: block;
font-family: 'Raleway';
font-style: italic;
font-weight: 400;
src: local('Raleway Italic'), local('Raleway-Italic'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptsg8zYS_SKggPNyCg4TYFqL_KWxQ.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
font-display: block;
font-family: 'Raleway';
font-style: italic;
font-weight: 700;
src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptpg8zYS_SKggPNyCgw9qR_DNCb71ka4ZiO.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
font-display: block;
font-family: 'Raleway';
font-style: italic;
font-weight: 700;
src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptpg8zYS_SKggPNyCgw9qR_AtCb71ka4Q.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
font-display: block;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
font-display: block;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
font-display: block;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwJYtWqhPANqczVsq4A.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
font-display: block;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwJYtWqZPANqczVs.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: "Barlow-Medium";
    src: url("//fonts.gstatic.com/s/barlow/v1/ZqlneECqpsd9SXlmAsD2E_Y6323mHUZFJMgTvxaG2iE.eot?#iefix");
    src: url("//fonts.gstatic.com/s/barlow/v1/ZqlneECqpsd9SXlmAsD2E_Y6323mHUZFJMgTvxaG2iE.eot?#iefix") format("eot"),
    url("//fonts.gstatic.com/s/barlow/v1/ZqlneECqpsd9SXlmAsD2E1tXRa8TVwTICgirnJhmVJw.woff2") format("woff2"),
    url("//fonts.gstatic.com/s/barlow/v1/ZqlneECqpsd9SXlmAsD2Ez8E0i7KZn-EPnyo3HZu7kw.woff") format("woff"),
    url("//fonts.gstatic.com/s/barlow/v1/ZqlneECqpsd9SXlmAsD2E6CWcynf_cDxXwCLxiixG1c.ttf") format("truetype"),
    url("//fonts.gstatic.com/l/font?kit=ZqlneECqpsd9SXlmAsD2E5bd9NUM7myrQQz30yPaGQ4&skey=4c8d0d0b13516148&v=v1#Barlow") format("svg");
}
@font-face {
    font-family: "Barlow-Medium";
    font-weight: 700;
    src: url("//fonts.gstatic.com/s/barlow/v1/yS165lxqGuDghyUMXeu6xfY6323mHUZFJMgTvxaG2iE.eot?#iefix");
    src: url("//fonts.gstatic.com/s/barlow/v1/yS165lxqGuDghyUMXeu6xfY6323mHUZFJMgTvxaG2iE.eot?#iefix") format("eot"),
    url("//fonts.gstatic.com/s/barlow/v1/yS165lxqGuDghyUMXeu6xVtXRa8TVwTICgirnJhmVJw.woff2") format("woff2"),
    url("//fonts.gstatic.com/s/barlow/v1/yS165lxqGuDghyUMXeu6xT8E0i7KZn-EPnyo3HZu7kw.woff") format("woff"),
    url("//fonts.gstatic.com/s/barlow/v1/yS165lxqGuDghyUMXeu6xaCWcynf_cDxXwCLxiixG1c.ttf") format("truetype"),
    url("//fonts.gstatic.com/l/font?kit=yS165lxqGuDghyUMXeu6xZbd9NUM7myrQQz30yPaGQ4&skey=f60e73b1bbf362f3&v=v1#Barlow") format("svg");
}
@font-face {
    font-family: "Barlow-Medium";
    font-style: italic;
    src: url("//fonts.gstatic.com/s/barlow/v1/xJLokI-F3wr7NRWXgS0pZ-ZiE7IA0Up7-VwGqa0iGVY.eot?#iefix");
    src: url("//fonts.gstatic.com/s/barlow/v1/xJLokI-F3wr7NRWXgS0pZ-ZiE7IA0Up7-VwGqa0iGVY.eot?#iefix") format("eot"),
    url("//fonts.gstatic.com/s/barlow/v1/xJLokI-F3wr7NRWXgS0pZ6g5eI2G47JWe0-AuFtD150.woff2") format("woff2"),
    url("//fonts.gstatic.com/s/barlow/v1/xJLokI-F3wr7NRWXgS0pZ9Ih4imgI8P11RFo6YPCPC0.woff") format("woff"),
    url("//fonts.gstatic.com/s/barlow/v1/xJLokI-F3wr7NRWXgS0pZ102b4v3fUxqf9CZJ1qUoIA.ttf") format("truetype"),
    url("//fonts.gstatic.com/l/font?kit=xJLokI-F3wr7NRWXgS0pZ5S_ZaL0arjVp2tkn2-HJhM&skey=989d87b0113009a2&v=v1#Barlow") format("svg");
}
@font-face {
    font-family: "Barlow-Medium";
    font-weight: 700;
    font-style: italic;
    src: url("//fonts.gstatic.com/s/barlow/v1/hw7DQwyFvE7wFOFzpow4xuZiE7IA0Up7-VwGqa0iGVY.eot?#iefix");
    src: url("//fonts.gstatic.com/s/barlow/v1/hw7DQwyFvE7wFOFzpow4xuZiE7IA0Up7-VwGqa0iGVY.eot?#iefix") format("eot"),
    url("//fonts.gstatic.com/s/barlow/v1/hw7DQwyFvE7wFOFzpow4xqg5eI2G47JWe0-AuFtD150.woff2") format("woff2"),
    url("//fonts.gstatic.com/s/barlow/v1/hw7DQwyFvE7wFOFzpow4xtIh4imgI8P11RFo6YPCPC0.woff") format("woff"),
    url("//fonts.gstatic.com/s/barlow/v1/hw7DQwyFvE7wFOFzpow4xl02b4v3fUxqf9CZJ1qUoIA.ttf") format("truetype"),
    url("//fonts.gstatic.com/l/font?kit=hw7DQwyFvE7wFOFzpow4xpS_ZaL0arjVp2tkn2-HJhM&skey=25c93348b6ec64d8&v=v1#Barlow") format("svg");
}
@font-face {
font-display: block;
font-family: 'Barlow';
font-style: italic;
font-weight: 400;
src: local('Barlow Italic'), local('Barlow-Italic'), url(https://fonts.gstatic.com/s/barlow/v4/7cHrv4kjgoGqM7E_Cfs0wH8DnzcjTrA.woff2) format('woff2');
unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
@font-face {
font-display: block;
font-family: 'Barlow';
font-style: italic;
font-weight: 400;
src: local('Barlow Italic'), local('Barlow-Italic'), url(https://fonts.gstatic.com/s/barlow/v4/7cHrv4kjgoGqM7E_Cfs1wH8DnzcjTrA.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
font-display: block;
font-family: 'Barlow';
font-style: italic;
font-weight: 400;
src: local('Barlow Italic'), local('Barlow-Italic'), url(https://fonts.gstatic.com/s/barlow/v4/7cHrv4kjgoGqM7E_Cfs7wH8Dnzcj.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
font-display: block;
font-family: 'Barlow';
font-style: italic;
font-weight: 700;
src: local('Barlow Bold Italic'), local('Barlow-BoldItalic'), url(https://fonts.gstatic.com/s/barlow/v4/7cHsv4kjgoGqM7E_CfOA5WohvToJdLm8BvE.woff2) format('woff2');
unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
@font-face {
font-display: block;
font-family: 'Barlow';
font-style: italic;
font-weight: 700;
src: local('Barlow Bold Italic'), local('Barlow-BoldItalic'), url(https://fonts.gstatic.com/s/barlow/v4/7cHsv4kjgoGqM7E_CfOA5WogvToJdLm8BvE.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
font-display: block;
font-family: 'Barlow';
font-style: italic;
font-weight: 700;
src: local('Barlow Bold Italic'), local('Barlow-BoldItalic'), url(https://fonts.gstatic.com/s/barlow/v4/7cHsv4kjgoGqM7E_CfOA5WouvToJdLm8.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
font-display: block;
font-family: 'Barlow';
font-style: normal;
font-weight: 400;
src: local('Barlow Regular'), local('Barlow-Regular'), url(https://fonts.gstatic.com/s/barlow/v4/7cHpv4kjgoGqM7E_A8s5ynghnQci.woff2) format('woff2');
unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
@font-face {
font-display: block;
font-family: 'Barlow';
font-style: normal;
font-weight: 400;
src: local('Barlow Regular'), local('Barlow-Regular'), url(https://fonts.gstatic.com/s/barlow/v4/7cHpv4kjgoGqM7E_Ass5ynghnQci.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
font-display: block;
font-family: 'Barlow';
font-style: normal;
font-weight: 400;
src: local('Barlow Regular'), local('Barlow-Regular'), url(https://fonts.gstatic.com/s/barlow/v4/7cHpv4kjgoGqM7E_DMs5ynghnQ.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
font-display: block;
font-family: 'Barlow';
font-style: normal;
font-weight: 700;
src: local('Barlow Bold'), local('Barlow-Bold'), url(https://fonts.gstatic.com/s/barlow/v4/7cHqv4kjgoGqM7E3t-4s6Fostz0rdom9.woff2) format('woff2');
unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
@font-face {
font-display: block;
font-family: 'Barlow';
font-style: normal;
font-weight: 700;
src: local('Barlow Bold'), local('Barlow-Bold'), url(https://fonts.gstatic.com/s/barlow/v4/7cHqv4kjgoGqM7E3t-4s6Vostz0rdom9.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
font-display: block;
font-family: 'Barlow';
font-style: normal;
font-weight: 700;
src: local('Barlow Bold'), local('Barlow-Bold'), url(https://fonts.gstatic.com/s/barlow/v4/7cHqv4kjgoGqM7E3t-4s51ostz0rdg.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
font-display: block;
font-family: 'Caudex';
font-style: italic;
font-weight: 400;
src: local('Caudex Italic'), local('Caudex-Italic'), url(https://fonts.gstatic.com/s/caudex/v9/esDS311QOP6BJUr4yMKPtbosEJimIMs.woff2) format('woff2');
unicode-range: U+1F00-1FFF;
}
@font-face {
font-display: block;
font-family: 'Caudex';
font-style: italic;
font-weight: 400;
src: local('Caudex Italic'), local('Caudex-Italic'), url(https://fonts.gstatic.com/s/caudex/v9/esDS311QOP6BJUr4yMKAtbosEJimIMs.woff2) format('woff2');
unicode-range: U+0370-03FF;
}
@font-face {
font-display: block;
font-family: 'Caudex';
font-style: italic;
font-weight: 400;
src: local('Caudex Italic'), local('Caudex-Italic'), url(https://fonts.gstatic.com/s/caudex/v9/esDS311QOP6BJUr4yMKNtbosEJimIMs.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
font-display: block;
font-family: 'Caudex';
font-style: italic;
font-weight: 400;
src: local('Caudex Italic'), local('Caudex-Italic'), url(https://fonts.gstatic.com/s/caudex/v9/esDS311QOP6BJUr4yMKDtbosEJim.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
font-display: block;
font-family: 'Caudex';
font-style: italic;
font-weight: 700;
src: local('Caudex Bold Italic'), local('Caudex-BoldItalic'), url(https://fonts.gstatic.com/s/caudex/v9/esDV311QOP6BJUr4yMo4kK8NMpWMGsLAjdA.woff2) format('woff2');
unicode-range: U+1F00-1FFF;
}
@font-face {
font-display: block;
font-family: 'Caudex';
font-style: italic;
font-weight: 700;
src: local('Caudex Bold Italic'), local('Caudex-BoldItalic'), url(https://fonts.gstatic.com/s/caudex/v9/esDV311QOP6BJUr4yMo4kK8CMpWMGsLAjdA.woff2) format('woff2');
unicode-range: U+0370-03FF;
}
@font-face {
font-display: block;
font-family: 'Caudex';
font-style: italic;
font-weight: 700;
src: local('Caudex Bold Italic'), local('Caudex-BoldItalic'), url(https://fonts.gstatic.com/s/caudex/v9/esDV311QOP6BJUr4yMo4kK8PMpWMGsLAjdA.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
font-display: block;
font-family: 'Caudex';
font-style: italic;
font-weight: 700;
src: local('Caudex Bold Italic'), local('Caudex-BoldItalic'), url(https://fonts.gstatic.com/s/caudex/v9/esDV311QOP6BJUr4yMo4kK8BMpWMGsLA.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
font-display: block;
font-family: 'Caudex';
font-style: normal;
font-weight: 400;
src: local('Caudex'), url(https://fonts.gstatic.com/s/caudex/v9/esDQ311QOP6BJUr4wfKBv70OEqin.woff2) format('woff2');
unicode-range: U+1F00-1FFF;
}
@font-face {
font-display: block;
font-family: 'Caudex';
font-style: normal;
font-weight: 400;
src: local('Caudex'), url(https://fonts.gstatic.com/s/caudex/v9/esDQ311QOP6BJUr4zvKBv70OEqin.woff2) format('woff2');
unicode-range: U+0370-03FF;
}
@font-face {
font-display: block;
font-family: 'Caudex';
font-style: normal;
font-weight: 400;
src: local('Caudex'), url(https://fonts.gstatic.com/s/caudex/v9/esDQ311QOP6BJUr4w_KBv70OEqin.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
font-display: block;
font-family: 'Caudex';
font-style: normal;
font-weight: 400;
src: local('Caudex'), url(https://fonts.gstatic.com/s/caudex/v9/esDQ311QOP6BJUr4zfKBv70OEg.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
font-display: block;
font-family: 'Caudex';
font-style: normal;
font-weight: 700;
src: local('Caudex Bold'), local('Caudex-Bold'), url(https://fonts.gstatic.com/s/caudex/v9/esDT311QOP6BJUrwdteUnp8DOJKuGPLB.woff2) format('woff2');
unicode-range: U+1F00-1FFF;
}
@font-face {
font-display: block;
font-family: 'Caudex';
font-style: normal;
font-weight: 700;
src: local('Caudex Bold'), local('Caudex-Bold'), url(https://fonts.gstatic.com/s/caudex/v9/esDT311QOP6BJUrwdteUkZ8DOJKuGPLB.woff2) format('woff2');
unicode-range: U+0370-03FF;
}
@font-face {
font-display: block;
font-family: 'Caudex';
font-style: normal;
font-weight: 700;
src: local('Caudex Bold'), local('Caudex-Bold'), url(https://fonts.gstatic.com/s/caudex/v9/esDT311QOP6BJUrwdteUnJ8DOJKuGPLB.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
font-display: block;
font-family: 'Caudex';
font-style: normal;
font-weight: 700;
src: local('Caudex Bold'), local('Caudex-Bold'), url(https://fonts.gstatic.com/s/caudex/v9/esDT311QOP6BJUrwdteUkp8DOJKuGA.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-regular-webfont.eot');
    src: url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-regular-webfont.woff') format('woff'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-regular-webfont.ttf') format('truetype'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-regular-webfont.svg#open_sansregular') format('svg');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bold-webfont.eot');
    src: url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bold-webfont.woff') format('woff'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bold-webfont.ttf') format('truetype'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bold-webfont.svg#open_sansregular') format('svg');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-italic-webfont.eot');
    src: url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-italic-webfont.woff') format('woff'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-italic-webfont.ttf') format('truetype'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-italic-webfont.svg#open_sansregular') format('svg');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bolditalic-webfont.eot');
    src: url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bolditalic-webfont.woff') format('woff'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bolditalic-webfont.ttf') format('truetype'),
    url('//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/opensans-bolditalic-webfont.svg#open_sansregular') format('svg');
}
@font-face {
    font-family: "Pacifica-W00-Condensed";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/e50a5bb1-8246-4412-8c27-4a18ba89a0fd.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/e50a5bb1-8246-4412-8c27-4a18ba89a0fd.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/6849614c-986c-45b1-a1a7-39c891759bb9.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/8ccb835c-4668-432d-8d1d-099b48aafe4e.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/028040ec-b956-41d8-a07d-b4d3466b8ed8.svg#028040ec-b956-41d8-a07d-b4d3466b8ed8") format("svg");
}
@font-face{
    font-family:"Avenir-LT-W01_35-Light1475496";
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix");
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/908c4810-64db-4b46-bb8e-823eb41f68c0.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/4577388c-510f-4366-addb-8b663bcc762a.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/b0268c31-e450-4159-bfea-e0d20e2b5c0c.svg#b0268c31-e450-4159-bfea-e0d20e2b5c0c") format("svg");
}

/* stylable css */

</style><style id="css_xi9l2">
	[data-mesh-id=Containerxi9l2inlineContent]{height:auto;width:100%;display:flex}[data-mesh-id=Containerxi9l2inlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;min-height:505px;margin-top:-5px;grid-template-rows:1fr;grid-template-columns:100%;padding-bottom:0px;box-sizing:border-box}[data-mesh-id=Containerxi9l2inlineContent-gridContainer] > [id="comp-kg0cvaq5"]{position:relative;margin:0px 0px 0 calc((100% - 980px) * 0.5);left:0px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start}#xi9l2{left:0;margin-left:0;width:100%;min-width:980px;min-height:500px}#comp-kg0cvaq5{width:980px;height:1372px}#pageBackground_xi9l2{--bg-position:fixed;visibility:hidden;--bg-overlay-color:rgb(var(--color_13));--fill-layer-image-opacity:1}
	@font-face {
font-family: wf_62de10e8ce8346e0b6225cd6f;
src: url("https://static.wixstatic.com/ufonts/b227d6_62de10e8ce8346e0b6225cd6f147ffe9/woff2/file.woff2") format("woff2"),
url("https://static.wixstatic.com/ufonts/b227d6_62de10e8ce8346e0b6225cd6f147ffe9/woff/file.woff") format("woff"),
url("https://static.wixstatic.com/ufonts/b227d6_62de10e8ce8346e0b6225cd6f147ffe9/ttf/file.ttf") format("ttf");
}
@font-face {
font-family: wf_3ce47fc5cce84ae8a5ab377d0;
src: url("https://static.wixstatic.com/ufonts/b227d6_3ce47fc5cce84ae8a5ab377d02561b33/woff2/file.woff2") format("woff2"),
url("https://static.wixstatic.com/ufonts/b227d6_3ce47fc5cce84ae8a5ab377d02561b33/woff/file.woff") format("woff"),
url("https://static.wixstatic.com/ufonts/b227d6_3ce47fc5cce84ae8a5ab377d02561b33/ttf/file.ttf") format("ttf");
}

/* stylable css */

</style></pages-css>